/* 图鉴页面样式 */
.shell .container2 .picture .photo_frame {
  border: 1px solid #000;
  margin: 1px 0px;
  border-radius: 10px;
  width: 98%;
  display: flex;
  position:relative;
  box-shadow: 2px 1px 1px;
  background-image: url("../../src/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items:center;
  justify-content:center;
}
.shell .container2 .picture .photo_frame .number {
  position: absolute;
  top: 5px;
  left: 5px;
  color: rgb(171, 224, 243);
  font-size: 18px;
}
.shell .container2 .picture .photo_frame .number::before{
  content: "#";
}
.shell .container2 .picture .photo_frame .pname{
  position: absolute;
  top: 30px;
  left: 5px;
  color: #fff;
  font-size: 20px;
}
.shell .container2 .picture .photo_frame .pk{
  z-index: 7;
  width: 50%;
  cursor: pointer;
}
.shell .container2 .picture .photo_frame .attribute_img{
  display: none;
}
.shell .container2 .picture .photo_frame:active .attribute_img{
  position:absolute; 
  left:0; 
  top:0; 
  width: 100%;
  display:block;
  z-index: 8;
}
.shell .container2 .picture .photo_frame .d2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%,-50%);
  align-items:center;
  justify-content:center;
}
.shell .container2 .picture .photo_frame .d2 .bg{
  width:70%;
  animation:3s spin linear infinite;
}
@keyframes spin{
  0%{
  }
  100%{
    transform: rotate(1turn);
  }
}
.shell .attribute{
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 10%;
  border-radius: 30px;
  overflow:hidden;
  color: #000;
  display:flex;
  align-items:center;
  justify-content:center;
  left:50%;
  transform: translateX(-50%);
  background-image: url("https://s1.52poke.wiki/wiki/thumb/3/3a/%E5%AE%9D%E5%8F%AF%E6%A2%A6%E7%89%B9%E5%88%AB%E7%AF%87%E5%95%86%E6%A0%87_%E5%90%89%E7%BE%8E.png/90px-%E5%AE%9D%E5%8F%AF%E6%A2%A6%E7%89%B9%E5%88%AB%E7%AF%87%E5%95%86%E6%A0%87_%E5%90%89%E7%BE%8E.png");
  background-repeat: no-repeat;
  background-position: center;
}
.shell .el-pagination{
  display: flex;
  margin-top: 50px;
  justify-content:center;
}
.shell .el-pagination .btn-prev{
  margin-right: 10px;
}
.shell .el-pagination .btn-next{
  margin-left: 10px;
}
.shell .el-pagination .el-pager li{
  margin: 0 10px;
}
